body{
    font-size: 75%;
    font-family: Arial, sans-serif;
    text-align: center;
    
}
header h1{
    color: white;
    font-size: 4em;
    display: inline;
    position: absolute;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    line-height: 8%;

}
header img{
    width: 100%;
    box-shadow: 0 0 10px black;

}